Write CSV File

In [3]:
import pandas as pd

In [13]:
 dis = {"a":[1,2,3,4,5],"b":[1,2,3,4,5],"c":[1,22,34,45,6]}
 df = pd.DataFrame(dis)
 df

   a  b   c
0  1  1   1
1  2  2  22
2  3  3  34
3  4  4  45
4  5  5   6

In [19]:
df.to_csv("Convert_File.csv",index=False,header=["A","B","C"])

In [23]:
dis2 = {"SWE":[83,4,5,7,8],"CSE":[45,3,2,34,5],"NFE":[3,2,3,23,5]}
df1 = pd.DataFrame(dis2)
df1

   SWE  CSE  NFE
0   83   45    3
1    4    3    2
2    5    2    3
3    7   34   23
4    8    5    5

In [29]:
df1.to_csv("Conver_File2.csv",index=False)