Join & Append

In [3]:
import pandas as pd

In [7]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]})
var2 = pd.DataFrame({"C":[10,20,30,40,50],"D":[11,22,33,44,55]})

var1.join(var2)

   A  B   C   D
0  1  5  10  11
1  2  6  20  22
2  3  7  30  33
3  4  8  40  44
4  5  9  50  55

In [13]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var1.join(var2,how="right")

   A  B   C   D
a  1  5  10  11
b  2  6  20  22

In [15]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var1.join(var2,how="outer")

   A  B     C     D
a  1  5  10.0  11.0
b  2  6  20.0  22.0
c  3  7   NaN   NaN
d  4  8   NaN   NaN
e  5  9   NaN   NaN

In [17]:
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var1.join(var2,how="inner")

   A  B   C   D
a  1  5  10  11
b  2  6  20  22

In [23]:
 var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]},index=["a","b","c","d","e"])
var2 = pd.DataFrame({"B":[10,20],"D":[11,22]},index=["a","b"])

var1.join(var2,how="outer",lsuffix="_12",rsuffix="_12")

   A  B_12  B_12     D
a  1     5  10.0  11.0
b  2     6  20.0  22.0
c  3     7   NaN   NaN
d  4     8   NaN   NaN
e  5     9   NaN   NaN

Append

In [51]:
a1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]})
a2 = pd.DataFrame({"C":[11,22],"D":[55,66]})
a1.concat(a2,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'concat'